$white-text-color: #fff;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$text-color-c1: #c1cad0;

$primary-color-dark: #0097a7;
$primary-color: #00bcd4;
$primary-color-light: #b2ebf2;

$accent-color-dark: #3770cc;
$accent-color: #448aff;
$accent-color-light: #66a1ff;

// Element colors
$element-color-8e: #8ea3b1;
$element-color-c4: #c4cfd7;
$element-color-f7: #f7fafc;

$gray-color: #959799;

$background-color: #f0f6fa;

$dark-border-color: #e3eaf0;
$border-color: #e9f0f6;

$border-radius: 4px;

$icon-primary-color: #6c7e8a;
$icon-primary-color-hover: #8ea3b1;