@import "../variables";
@import "../scrollbars";

.forms-list-wrapper, .form {
  height: calc(100vh - 140px);
  margin: 40px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: white;
}

.forms-list-wrapper {
  display: flex;
  flex-direction: column;
}

.forms-list-wrapper {
  .forms-list {
    flex-grow: 1;
    overflow: auto;
    @include small-scroll;
  }
}

@media all and (max-width: 768px) {
  .forms-list-wrapper, .form {
    margin: 20px 0;
    border-radius: 0;
  }
}
