@import "../variables";
@import "../mixins";

.forms-list-item {
  a {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid $dark-border-color;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
  }
  &:hover {
    background-color: $element-color-f7;
  }
  .col {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 30px;
    color: $primary-text-color;
    min-width: 15%;
    &.form-title {
      min-width: 75%;
      font-size: 16px;
      font-weight: 500;
      span {
        cursor: text;
        @include cut-text;
      }
    }
    &.created-at {
      font-size: 13px;
    }
    &.actions-col {
      border-left: 1px solid $dark-border-color;
      min-width: 10%;
      justify-content: space-around;
    }
    .far {
      color: $icon-primary-color;
      transition: color 0.3s;
      &:hover {
        color: $icon-primary-color-hover;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .forms-list-item {
    .col {
      &.form-title, &.actions-col, &.created-at {
        padding: 0 15px;
        min-width: 80px;
      }
      &.form-title {
        flex-grow: 1;
      }
      &.actions-col {
        max-width: 80px;
      }
      &.created-at {
        max-width: 120px;
      }
    }
  }
}