@import "../variables";

.forms-list-header {
  border-bottom: 2px solid $dark-border-color;
  .search-block {
    display: flex;
    padding: 20px 30px;
    .btn {
      margin-left: auto;
      width: 180px;
    }
  }
  .table-header {
    display: flex;
    .row {
      min-width: 15%;
      padding: 20px 30px;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 0.3px;
      transition: background-color 0.3s;
      &:not(.actions-row):hover {
        cursor: pointer;
        background-color: $element-color-f7;
      }
      &.title-row {
        min-width: 75%;
      }
      &.actions-row {
        min-width: 10%;
        text-align: center;
      }
      .fas {
        margin-top: -1px;
        margin-left: 10px;
      }
    }
  }
}

@media all and (max-width: 1200px) {
  .forms-list-header {
    .search-block {
      padding: 20px 15px;
      .btn {

      }
    }
    .table-header {
      .row {
        &.title-row, &.actions-row, &.created-at-row {
          padding: 20px 15px;
          min-width: 80px;
        }
        &.title-row {
          flex-grow: 1;
        }
        &.actions-row {
          max-width: 80px;
        }
        &.created-at-row {
          max-width: 120px;
          min-width: 120px;
          padding: 20px 0;
        }
      }
    }
  }
}

@media all and (max-width: 768px) {
  .forms-list-header {
    .search-block {
      flex-wrap: wrap;
      .btn {
        width: 100%;
      }
      .searchable-input {
        width: 100%;
        margin-bottom: 15px;
      }
    }
  }
}