@import "../variables";
@import "../scrollbars";

.forms-list-wrapper, .form {
  height: calc(100vh - 140px);
  margin: 40px;
  border: $border-color;
  border-radius: $border-radius;
  background: white;
}

.forms-list-wrapper {
  display: flex;
  flex-direction: column;
}

.forms-list-wrapper {
  .forms-list {
    flex-grow: 1;
    overflow: auto;
    @include small-scroll;
  }
}