@import "../variables";
@import "../mixins";

.tab {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  background: white;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  &.dragging {
    &:after {
      content: ' ';
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: $dark-border-color;
    }
  }
  .tab-name {
    flex: 1;
    margin-right: 15px;
    @include cut-text;
  }
  .far {
    opacity: 0.3;
    color: $icon-primary-color;
    transition: color 0.3s, opacity 0.3s;
    cursor: pointer;
    &:hover {
      color: $icon-primary-color-hover;
    }
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &:hover {
    .far {
      opacity: 1;
    }
  }
}